.header
{
   background-color:$cabecera;
   height: 50px;
   color: $titulo;
   font-family: $titulo-web;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
}