@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;600&display=swap');
//texto
$titulo-web : 'PT Sans', sans-serif;
$titulo-primary : 'Oswald', sans-serif;
$texto-primary : 'Roboto', sans-serif;
$course-titulo : 'Heebo', sans-serif;
$course-texto : Arial, Helvetica, sans-serif;


//Colores
$cabecera : #525559;
$titulo : #ffff99;
$texto-color : #646566;
$card-fondo :#f2f2f2;


